@import 'styles/_colors.scss';

.input {
  width: 100%;
  line-height: 1.5rem;
  background: rgba($white, 0.16);
  border-radius: 0.5rem;
  border: none;
  color: rgba($white, 0.64);
  padding: 1rem 0.9rem;
  &:hover {
    background: rgba($white, 0.24);
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba($white, 0.64);
  }
}