@use 'styles/constants' as constants;
@use 'styles/colors' as colors;

.button {
  width: 100%;
  border-radius: constants.$radius;
  padding: 1rem;
  border: none;
  transition: background 300ms;
  &--outlined {
    background: rgba(colors.$light-blue, 0.08);
    color: rgba(colors.$white, 1);
    &:hover {
      background: rgba(colors.$light-blue, 0.16);
    }
    &:focus {
      background: rgba(colors.$light-blue, 0.24);
    }
    &:active {
      border: 4px solid rgba(colors.$light-blue, 0.24);
      padding: .7rem;
    }
  }
}

