@use 'styles/colors' as colors;
@use 'styles/constants' as constants;

.content {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  
}
.profile {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 300ms;
  & p {
    margin: 0;
  }
  &__menu {
    display: none;
  }
  &__avatar {
    margin-right: 0.5rem;
  }
  &:hover {
    background-color: rgba(colors.$white, 0.08);
  }
}