@use 'styles/colors' as colors;
@use 'styles/constants' as constants;

.editor {
  // background-color: #FDD800;
  border-radius: constants.$radius;
  padding: 2rem;
  margin-bottom: 2rem;
  &__header {
    background-color: colors.$dark-gray;
    border-radius: constants.$radius constants.$radius 0 0;
    padding: 1rem;
  }
  &__body_spacing {
    padding: 0 1rem 1rem 1rem;
    background-color: colors.$dark-gray;
    border-radius: 0 0 constants.$radius constants.$radius;
    position: relative;
  }
  &__body {
    padding: 0;
    color: colors.$white;
    background-color: colors.$dark-gray;
    width: 100%;
    resize: none;
    border: none;
    font-family: 'Roboto Mono', monospace;
    outline: none;
    box-shadow: none;
    display: block;
    overflow: hidden;
    min-height: 280px;
  }
  & code {
    font-family: 'Roboto Mono', monospace;
  }
}
.dot {
  height: 10px;
  width: 10px;
  background: #ED594A;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
  &:nth-child(2) {  
    background: #FDD800;
  }
  &:nth-child(3) {  
    background: #5AC05A;
  }
}