@use 'styles/colors' as colors;
@use 'styles/constants' as constants;

.menu {
  cursor: pointer;
  margin: 1rem 0;
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &:hover div {
    background-color: rgba(colors.$light-blue, 0.64);
    transition: background 300ms;  
  }
  &:hover p {
    color: rgba(colors.$white, 0.72);
    transition: 300ms;
  }
  &--active {
    
    & p {
      color: colors.$white;
    }
    & div {
      background-color: colors.$light-blue;
    }
  }
  &__icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgba(colors.$light-blue, 0.16);
    & span {
      color: rgba(colors.$white, 1);
    }
  }
  &__title {
    font-family: constants.$font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(colors.$white, 0.56);
  }
}
