@use 'styles/constants' as constants;
@use 'styles/colors' as colors;

.menu-title {
  font-family: constants.$font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: colors.$white;
  margin: 0.5rem 0;
  text-transform: uppercase;
}