@use 'styles/constants' as constants;

.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 145px;
  flex: 2;
}

.input {
  flex: 4.5;
}

@media screen and (max-width: constants.$mobile) {
  .header {
    padding: 1rem;
  }
}

@media screen and (max-width: constants.$tablet) {
  .logo {
    padding-right: 2rem;
  }
}