@use 'styles/colors' as colors;
@use 'styles/constants' as constants;

.sidebar {
  flex: 2;
  &__title {
    font-family: constants.$font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: colors.$white;
    margin: 0.5rem 0;
  }
}