@import 'styles/colors';
@import 'styles/constants';

.sidebar {
  padding: 0 2rem;
  flex: 2;
  &__title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: $white;
    margin: 0.5rem 0;
  }
}