@use 'styles/constants' as constants;
@use 'styles/colors' as colors;

.menu {
  margin-left: 2rem;
}

.form-container {
  margin-bottom: 1rem;
  & input, textarea, select, > div {
    margin-top: 1rem;
  }
  & > button {
    margin-top: 2rem;
  }
}

@media screen and (max-width: constants.$tablet) {
  .menu {
    margin-left: 0;
  }
}
