@use 'styles/constants' as constants;

.content {
  display: flex;
  flex: 6.5;
}

.code-editor {
 flex: 4.5;
}

.editor-options {
  flex: 2;
}

@media screen and (max-width: constants.$tablet) {
  .content {
    flex-direction: column;
  }
}
